@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Bitter);
.jumbotron{height:635px;}
#intro{width: 750px;
       float: right;
       position: relative;
       top: 30px;
       left: 235px;}
#heading{float: left;
         position: relative;
         left: 400px;}
#subjumbo{float:left}
