@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Bitter);
body{font-family:'Architects Daughter';}
h2 {color: #9900FF;
    text-align: center;
    font-family: 'Bitter;'}
h3 {color: #0033FF;
    text-align: center;
    font-family: 'Bitter';}
a {color: blue;}
html { background-color: #99FFFF;}
#factparagraph {color: #FF3399; text-align: center;}
#ISUpic {display: block;
         margin: auto;
         width: auto;}
#p1 {color: #FF3399;}
<div style="text-align: center"><img src="http://www.fnal.gov/pub/images/2013/muon-g-2/D6270613-hr.jpg" width="100" /></div>
img {
    display: block;
    margin: 0 auto;
}
