<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Christine Hicaro</title>
        <meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
        <meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
				<!-- <link rel="stylesheet" type="text/css" href="css/practice-website.css" /> -->
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
        <!--[if IE]>
        	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
	</head>
	<body>
		<ul>
			<!-- <center><li><a href="img/Christine Hicaro Resume.pdf" target = "_blank">Resume</a></li> -->
			<li><a href=#education>Education</a></li>
			<!-- <li><a href=#projects>Projects</a></li> -->
			<li><a href=#activities>Activities</a></li>
			<li><a href=#relevant-experience>Relevant Experience</a></li>
			<li><a href=#about>About</a></li>
			<!-- </center> -->
		</ul>
		</div>
		<div id = "block" class="container demo-4">
			<div class="content">
                <div id="large-header" class="large-header">
                    <canvas id="demo-canvas"></canvas>
                    <h1 class="main-title">Christine Hicaro</span></h1>
                </div>
		</div><!-- /container -->

		<div id="about">
			<div class = "section-info">
				<center class = "section-title">About</center>
				<p>Heyo! I'm Christine, a first-year software engineering student at Iowa State University. Originally from La Grange, IL, a suburb of Chicago (I'm not from Chicago Chicago), I tried to switch it up by spending the next couple of years in Ames, Iowa. If you should know one thing about me, it is that I love programming and technology. Other than coding, some of my favorite things are Blue Mountain State, Cookie Dough Creations cookie dough, and, of course, my dog. If you like what you see on this website, don't hesitate to reach out to me. I'm always looking for opportunities to become more involved in all things techy. Thanks for visiting my page!</p>
			</div>
		</div>

		<div id="relevant-experience">
			<div class = "section-info">
				<center class = "section-title">Relevant Experience</center>

				<p>
					<div class = "sub-section">
						<strong>Incoming Engineering Practicum Intern</strong> - Google, Inc.
						<br>
						Location TBD, Summer 2016
						<img id = "google-image" class = "picture" src = "http://www.underconsideration.com/brandnew/archives/google_2015_logo_detail.png" height = "100px" width = "285px">
					</div>
					<p class = "general-paragraph">
						As an EP intern, I will work on a software project for 12 weeks with 2-3 other EP interns under the mentorship of Google engineers. I will also attend skills-based workshops in addition to technical talks!
					</p>
				</p>

				<p>
					<div class = "sub-section">
						<strong>Undergraduate Research Assistant</strong> - Iowa State University
						<br>
						Ames, IA, January 2016 - Present
						<img id = "isu-image" class = "picture" src = "http://pub-images.canvasnetwork.com/CN-1788-logo-Iowa-State.png" height = "70px" width = "420px">
					</div>
					<p class = "general-paragraph">
						As a participant in the First-Year Honors Mentorship Program, I am creating an internal web application for Candoia, a software platform, under the mentorship of Dr. Hridesh Rajan. The web application will utilize HTML, CSS, JavaScript, and the Boa query language with the intention of data mining from Github.
					</p>
				</p>

				<p>
					<div class = "sub-section">
						<strong>Computer Science Summer Institute Participant</strong> - Google, Inc.
						<br>
						Chicago, IL, July 2015
						<img id = "google-image-cssi" class = "picture" src = "http://www.underconsideration.com/brandnew/archives/google_2015_logo_detail.png" height = "100px" width = "285px">
					</div>
					<p class = "general-paragraph">
						Computer Science Summer Institute is a 3-week program for rising freshmen in college who are passionate about technology. I was one of 30 chosen to participate in the first CSSI program held at the Chicago Google office. During the first two weeks, I was taught the basics of web development by Google engineers; I learned how to utilize HTML, CSS, JavaScript/JQuery, Python, JSON, APIs, datastore, and Google App Engine. The third week, I teamed up with two other CSSIers to create a web app, Buildmymusic, from scratch.
					</p>
				</p>

				<p>
					<div class = "sub-section">
						<strong>TARGET Intern</strong> - Fermilab (FNAL)
						<br>
						Batavia, IL, June-July 2013
						<img id = "fermi-image" class = "picture" src = "http://www.fnal.gov/faw/designstandards/filesfordownload/FNAL-Logo-NAL-Blue.jpg" height = "100px" width = "320px">
					</div>
					<p class = "general-paragraph">
						TARGET is a 6-week summer engineering program consisting of an internship and afternoon classes. I was 1 of 18 chosen out of 200 applicants to participate in the program. For my internship portion, I helped create a Microsoft SharePoint site for the Benefits Office of Human Resources and also learned elementary physics in relation to the ASTA magnet at the lab from a physicist. Afternoon classes consisted of completing the following engineering-based projects: soldering a radio, building/soldering a power supply, soldering a detector, designing a rocket cap with AutoCAD, creating a 3D object of choice with AutoCAD, building a Newton's cradle, and making/designing a boomerang.
					</p>
				</p>

			</div>
		</div>

		<div id="activities">
			<div class = "section-info">
				<center class = "section-title">Activities</center>
				<p>
					<div class = "sub-section">
						<strong>Society of Women Engineers (SWE)</strong> - Freshman Representative (Fall '15), Webmaster
						<br>
						<strong>Digital Women</strong> - Grace Hopper Chair
						<br>
						<strong>Web Development Club</strong> - Outreach Chair
						<br>
						<strong>Freshmen Leaders in Engineering (FLiE)</strong> - Member (Fall '15)
						<br>
						<strong>HackISU</strong> - Hacker/Participant (Fall '15)
					</div>
				</p>
			</div>
		</div>

		<div id="education">
			<div class = "section-info">
				<center class = "section-title">Education</center>
				<p>
					<div class = "sub-section">
						<strong>Iowa State University</strong>, 3.81/4.00 GPA
						<br>
						Ames, IA, BS in Software Engineering expected May 2019
						<img id = "isu-coe-image" class = "picture" src = "https://www.teenlife.com/media/uploads/listings/iowa-state-university-college-of-engineering/Y2V9bmt1B3EG.jpg" height = "90px" width = "420px">
					</div>
					<p class = "general-paragraph">
						Honors: George Washington Carver Scholar (recipient of full-tuition scholarship), University Honors Program, Dean's List Fall '15
					</p>
				</p>

				<p>
					<div class = "sub-section">
						<strong>Lyons Township High School</strong>, 3.89/4.00 unweighted, 5.11/4.00 weighted GPA
						<br>
						La Grange, IL, Graduated in May 2015
						<img id = "lths-image" class = "picture" src = "http://www.pitt.edu/~mdd50/lths.jpg" height = "200px" width = "225px">
					</div>
					<p class = "general-paragraph">
						Honors: National Honor Society, Illinois State Scholar, AP Scholar with Distinction, Honors Graduate, top 5% of class (36/1020 class rank)
					</p>
				</p>
			</div>
		</div>
		<div id="footer">
		Copyright © Christine Hicaro 2016
		</div>


    <script src="js/rAF.js"></script>
    <script src="js/demo-4.js"></script>
	</body>
</html>
