<!DOCTYPE html>
<html>
  <head>
    <title>Christine Hicaro</title>
    <link rel="stylesheet" tyoe="text/css" href="stylesheets/christinehicaro.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div id = "top-portion">
      <div id = "sub">
        <div id = "heading">
          <h1>
            <strong><center id = 'name'>Christine Hicaro</center></strong>
          </h1>
          <br>
          <center><img src = "https://scontent-ord1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11061991_1789298841296179_678732984493221835_n.jpg?oh=3452d632d99c676165b31ad9989bb279&oe=56C03451" height = "250px" width = "235px"></center>
        </div>
        <br>
        <div id = "intro">
          <h4>
            <p>Hey there, my name's Christine Hicaro and I'm currently a first-year software engineering student at Iowa State University. I'm very passionate about computer science and technology and am seeking opportunities to grow in those fields. I'm particularly looking to obtain an internship this summer so if you like what you see on this page, please feel free to contact me!</p>
          </h4>
        </div>
      </div>
    </div>

    <center><div class = "sections" id = "experience-jumper"><a class="jumper" href="#experience">Experience</a></div>
    <div class = "sections" id = "education-jumper"><a class="jumper" href="#education">Education</a></div>
    <div class = "sections" id = "activities-jumper"><a class="jumper" href="#activities">Activities</a></div>
    <div class = "sections" id = "projects-jumper"><a class="jumper" href="#projects">Projects</a></div></center>

    <div id = "experience">
      <div id = "experience-sub">
        <div id = "experience-heading">
          <h2>
            <center class = 'section-header'><strong>Where Have I Been?</strong><br>Relevant Experience</center>
          </h2>
          <br>
        </div>
        <br>
        <div id = "experience-body">
          <h4>
            <p>
              <div id = "cssi-image"><img src = "https://www.google.com/edu/images/programs/cssilogo.png"></div>
              <br>
              <div class = "body-intro"><strong>Computer Science Summer Institute (CSSI)</strong>
              <br>
              Google, Inc.
              <br>
              Chicago, IL (July 20 - August 7, 2015)</div>
              <br>
              <br>
              <p class = "body-text">
                Computer Science Summer Institute is a 3-week program for rising freshmen in college who are passionate about technology. I was one of 30 chosen to participate in the first CSSI program held at the Chicago Google office. During the first two weeks, I was taught the basics of web development by Google engineers; I learned how to utilize HTML, CSS, JavaScript/JQuery, Python, JSON, APIs, datastore, and Google App Engine. The third week, I teamed up with two other CSSIers to create a web app, Buildmymusic, from scratch.
                <br>
                <br>
                View Buildmymusic<a href = "http://buildmymusic.appspot.com/" target = "_blank"> here</a>!
              </p>
            </p>
            <br>
            <p>
              <div id = "fermi-image"><img src = "http://www.fnal.gov/faw/designstandards/filesfordownload/FNAL-Logo-NAL-Blue.jpg" height = "80px" width = "300px"></div>
              <br>
              <div class = "body-intro"><strong>TARGET Intern</strong>
              <br>
              Fermi National Accelerator Laboratory (Fermilab)
              <br>
              Batavia, IL (June 24 - August 2, 2013)</div>
              <br>
              <p class = "body-text">
                TARGET is a 6-week summer engineering program consisting of an internship and afternoon classes. I was 1 of 18 chosen out of 200 applicants to participate in the program. For my internship portion, I helped create a Microsoft SharePoint site for the Benefits Office of Human Resources and also learned elementary physics in relation to the ASTA magnet at the lab from a physicist. Afternoon classes consisted of completing the following engineering-based projects: soldering a radio, building/soldering a power supply, soldering a detector, designing a rocket cap with AutoCAD, creating a 3D object of choice with AutoCAD, building a Newton's cradle, and making/designing a boomerang.
              </p>
            </p>
          </h4>
        </div>
      </div>
    </div>

    <div id = "education">
      <div id = "education-sub">
        <div id = "education-heading">
          <h1>
            <center class = 'section-header'><strong>Where am I now?</strong><br>Education</center>
          </h1>
        </div>
        <br>
        <div id = "education-body">
          <h5>
            <p>
              <div class = "body-intro"><strong>Iowa State University</strong>
              <br>
              Software Engineering, 3.81 GPA
              <br>
              First-Year, BS degree expected Spring 2019
              </div>
              <div id = "isu-image"><img src = "http://www.gannett-cdn.com/-mm-/17e94bdff9fd6a31f18a3c42766c573b93df846f/c=100-340-1905-1695&r=x404&c=534x401/local/-/media/USATODAY/USATODAY/2013/12/23//1387854529000-iowa-state-logo1.jpg" height = '230px' width = '210px'></div>
              <br>

              <p class = "body-text">
                <strong>Honors:</strong> George Washington Carver Full Tuition Scholarship Recipient, First-Year Honors Program
                <br>
                <br>
                <strong>Currently enrolled classes:</strong> Intro to Object-oriented Programming (COM S 227)
                <br>
                <br>
                <strong>Have Taken:</strong> Intro to Problem-Solving (using C) (CPR E 185), AP Computer Science
              </p>
            </p>
          </h5>
        </div>
      </div>
    </div>

    <div id = "activities">
      <div id = "activities-sub">
        <div id = "activities-heading">
          <h1>
            <center class = 'section-header' id = "activities-title"><strong>What am I currently involved in?</strong><br>Activities</center>
          </h1>
        </div>
        <br>
        <div id = "activities-body">
          <h5>
            <p>
              <center><div class = "body-intro"><strong>Society of Women Engineers (SWE)</strong>
              <br>
              Freshman Representative, Webmaster (Sept 2015 - Present)
              </div></center>
              <br>
              <center><p class = "body-text">
                As a freshman representative, I help plan and spread the word about special events to ensure the retention of freshmen in SWE at Iowa State. Starting Spring 2016, I will be in charge of updating and re-designing the ISU SWE website.
              </p></center>
              <br>
              <center><div class = "body-intro"><strong>Digital Women</strong>
              <br>
              Grace Hopper Chair (Oct 2015 - Present)
              </div></center>
              <br>
              <center><p class = "body-text">
                As the Grace Hopper chair, I network with companies and Iowa State to help fundraise money for fully-funded trips to future Grace Hopper conferences.
              </p></center>
              <br>
              <center><div class = "body-intro"><strong>Web Development Club</strong>
              <br>
              Outreach Chair (Sept 2015 - Present)
              </div></center>
              <br>
              <center><p class = "body-text">
                As the Outreach Chair, I come up with ideas to ensure the retention and recruitment of WDC members.
              </p></center>
              <br>
              <center><div class = "body-intro"><strong>Friley O'Bryan House Cabinet</strong>
              <br>
              Vice President (Sept 2015 - Present)
              </div></center>
              <br>
              <center><p class = "body-text">
                As the vice president of O'Bryan, a house of Friley Residence Hall at Iowa State, I help plan events, aid the president in whatever needs to be done, and make sure things run smoothly on our floor.
              </p></center>
              <br>
              <center><div class = "body-intro"><strong>Freshmen Leaders in Engineering (FLiE)</strong>
              <br>
              Member (Sept 2015 - Present)
              </div></center>
              <br>
              <center><div class = "body-intro"><strong>HackISU</strong>
              <br>
              Hacker/Participant (Sept 2015)
            </div></center>
              <br>
              <center><div class = "body-intro"><strong>Women in Science and Engineering (WiSE) Living/Learning Community</strong>
              <br>
              Member (Sept 2015 - Present)
              </div></center>
              <br>
              <center><div class = "body-intro"><strong>Grace Hopper Conference 2015</strong>
              <br>
              Attendee (Oct 2015)
              </div></center>
            </p>
          </h5>
        </div>
      </div>
    </div>

    <div id = "projects">
      <div id = "projects-sub">
        <div id = "projects-heading">
          <h1>
            <center class = 'section-header'><strong>What have I worked on?</strong><br>Projects</center>
          </h1>
        </div>
        <div id = "projects-body">
          <h5>
            <p>
              <div class = "body-intro"><strong>Buildmymusic</strong>
              <br>
              <a href = "http://buildmymusic.appspot.com/" target = "_blank">buildmymusic.appspot.com</a> (Web Application)
              <br>
              </div>
              <br>
              <p class = "body-text">
                <strong>Languages used:</strong> Front-end: HTML, CSS, Javascript; Back-end: Python
              </p>
            </p>
            <br>
            <p>
              <div class = "body-intro"><strong>Find-me-a-business</strong>
              <br>
              <a href = "http://find-me-a-business-1074.appspot.com/" target = "_blank">find-me-a-business-1074.appspot.com</a> (Web Application)
              <br>
              </div>
              <br>
              <p class = "body-text">
                <strong>Languages used:</strong> Front-end: HTML, CSS, Javascript, Bootstrap; Back-end: Python
              </p>
            </p>

          </h5>
        </div>
      </div>
    </div>

  </body>
<html>
