<!DOCTYPE html>
<html>
  <head>
    <title>Christine Hicaro</title>
    <link rel="stylesheet" tyoe="text/css" href="stylesheets/christinehicaro.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div id = "top-portion">
      <div id = "sub">
        <div id = "heading">
          <h1>
            <strong><center id = 'name'>Christine Hicaro</center></strong>
          </h1>
          <br>
          <center><img src = "https://scontent-ord1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11061991_1789298841296179_678732984493221835_n.jpg?oh=3452d632d99c676165b31ad9989bb279&oe=56C03451" height = "250px" width = "235px"></center>
        </div>
        <br>
        <div id = "intro">
          <h4>
            <p>Hey there, my name's Christine Hicaro and I'm currently a first-year software engineering student at Iowa State University. I'm very passionate about computer science and technology and am seeking opportunities to grow in those fields. I'm particularly looking to obtain an internship this summer so if you like what you see on this page, please feel free to contact me!</p>
          </h4>
        </div>
      </div>
    </div>

    <div id = "experience">
      <div id = "experience-sub">
        <div id = "experience-heading">
          <h2>
            <center id = 'experience-header'><strong>Where Have I Been?</strong><br>Relevant Experience</center>
          </h2>
          <br>
        </div>
        <br>
        <div id = "experience-body">
          <h4>
            <p>
              <div id = "cssi-image"><img src = "https://www.google.com/edu/images/programs/cssilogo.png"></div>
              <br>
              <div class = "experience-intro"><strong>Computer Science Summer Institute (CSSI)</strong>
              <br>
              Google, Inc.
              <br>
              Chicago, IL (July 20 - August 7, 2015)</div>
              <br>
              <br>
              <p id = "cssi-text">
                Computer Science Summer Institute is a 3-week program for rising freshmen in college who are passionate about technology. I was one of 30 chosen to participate in the first CSSI program held at the Chicago Google office. During the first two weeks, I was taught the basics of web development by Google engineers; I learned how to utilize HTML, CSS, JavaScript/JQuery, Python, JSON, APIs, datastore, and Google App Engine. The third week, I teamed up with two other CSSIers to create a web app, Buildmymusic, from scratch.
                <br>
                <br>
                View Buildmymusic here!<a href = "http://buildmymusic.appspot.com/" target = "_blank"> Buildmymusic </a>
              </p>
            </p>
            <br>
            <p>
              <div id = "fermi-image"><img src = "http://www.fnal.gov/faw/designstandards/filesfordownload/FNAL-Logo-NAL-Blue.jpg" height = "80px" width = "300px"></div>
              <br>
              <div class = "experience-intro"><strong>TARGET Intern</strong>
              <br>
              Fermi National Accelerator Laboratory (Fermilab)
              <br>
              Batavia, IL (June 24 - August 2, 2013)</div>
              <br>
              ...
            </p>
          </h4>
        </div>
      </div>
    </div>
  </body>
<html>
