@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Bitter);
#top-portion{height:620px;
            width: 1290px;
            background-color: #CCFFCC}
#intro{width: 750px;
       float: right;
       position: relative;
       top: 30px;
       left: 200px;
       font-family: "Bitter"}
#heading{float: left;
         position: relative;
         left: 300px;}
#sub{float:left;
     position: relative;
     top: 30px;
     left: 95px;}
#name{font-family: "Bitter";
      font-size: 70px;}

#experience{height:850px;
            width: 1290px;
            background-color: #CCFFFF}
#experience-body{width: 1000px;
                 float: right;
                 position: relative;
                 top: 30px;
                 left: 80px;
                 font-family: "Bitter"}
#experience-heading{float: left;
                    position: relative;
                    left: 300px;}
#experience-sub{float:left;
                position: relative;
                top: 30px;
                left: 85px;}
.section-header{font-family: "Bitter";
                   font-size: 50px;
                   position: relative;
                   left: 30px;}
#cssi-image{float: right;
            position:relative;
            left: -30px;}
#fermi-image{float: right;
            position:relative;
            left: -30px;}
.experience-intro{font-size: 25px;}
.experience-text{font-size: 18px;}

#education{height:575px;
            width: 1290px;
            background-color: #FFFF99}
#education-body{width: 750px;
       float: right;
       position: relative;
       top: 40px;
       left: 145px;
       font-family: "Bitter"}
#education-heading{float: left;
         position: relative;
         left: 300px;}
#education-sub{float:left;
     position: relative;
     top: 30px;
     left: 95px;}
#isu-image{float:right;
           position: relative;
           top: -50px;
           left: 70px;}
